target/
bin/
obj/
*.user
.vs/
node_modules/
dist/
__pycache__/
*.egg-info/
.venv/
data/
.bigpipe-data/
*.nupkg
*.snupkg
artifacts/
.idea/
.ipynb_checkpoints/
bigpiped.log
.bpdata_path
*.log
TestResults/
*.dmp
.pytest_cache/
